{% extends 'base.html' %}
{% block title %}何佳豪的个人站点……业余写代码{% endblock %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'css/pagination.css' %}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<div class="blog-body">
    <!-- canvas -->
    <canvas id="canvas-banner" style="background: #393D49;"></canvas>
    <!--为了及时效果需要立即设置canvas宽高，否则就在home.js中设置-->
    <script type="text/javascript">
        var canvas = document.getElementById('canvas-banner');
        canvas.width = window.document.body.clientWidth - 10;//减去滚动条的宽度
        if (screen.width >= 992) {
            canvas.height = window.innerHeight * 1 / 3;
        } else {
            canvas.height = window.innerHeight * 2 / 7;
        }
    </script>
    <!-- 这个一般才是真正的主体内容 -->
    <div class="blog-container">
        <div class="blog-main">
            <!-- 网站公告提示 -->
            <div class="home-tips shadow">
                <i style="float:left;line-height:17px;" class="fa fa-volume-up"></i>
                <div class="home-tips-container">
                    {% for notice in notice_list %}
                    <span style="color: #009688">{{notice.content | safe}}</span>
                    {% endfor %}

                    <!--<span style="color: red">网站新增留言回复啦！使用QQ登陆即可回复，人人都可以回复！</span>-->
                    <!--<span style="color: red">如果你觉得网站做得还不错，来Fly社区点个赞吧！<a href="http://fly.layui.com/case/2017/"-->
                                                                        <!--target="_blank"-->
                                                                        <!--style="color:#01AAED">点我前往</a></span>-->
                    <!--<span style="color: #009688">不落阁 &nbsp;—— &nbsp;一个.NET程序员的个人博客，新版网站采用Layui为前端框架，目前正在建设中！</span>-->
                </div>
            </div>
            <!--左边文章列表-->
            <div class="blog-main-left">
                {% for article in article_list.object_list %}
                <div class="article shadow">
                    <div class="article-left">
                        <img src="{{MEDIA_URL}}{{article.image}}" alt="基于laypage的layui扩展模块（pagesize.js）！"/>
                    </div>
                    <div class="article-right">
                        <div class="article-title">
                            <a href="{% url 'detail' article.id %}">{{article.title}}</a>
                        </div>
                        <div class="article-abstract">
                            {{article.abstract}}
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="article-footer">
                        <span><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{article.pub_date|date:"Y-m-d"}}</span>
                        <span class="article-author"><i class="fa fa-user"></i>&nbsp;&nbsp;{{article.author}}</span>
                        <span><i class="fa fa-tag"></i>&nbsp;&nbsp;<a href="?category={{article.category_id}}">{{article.category}}</a></span>
                        <span class="article-viewinfo"><i class="fa fa-eye"></i>&nbsp;{{article.views}}</span>
                        <span class="article-viewinfo"><i class="fa fa-commenting"></i>&nbsp;{{article.comment_num}}</span>
                    </div>
                </div>
                {% endfor %}

                <div class="pa">
                    <ul class="pa">
                        <!--<li class="pa"><a href="#">首页</a></li>-->
                        {% if article_list.has_previous %}
                        <li class="pa"><a href="?{{ article_list.previous_page_number.querystring }}">上一页</a></li>
                        {% endif %}
                        {% for page in article_list.pages %}
                        {% if page %}
                        {% ifequal page article_list.number %}
                        <li class="pa active_pa"><a href="?{{ page.querystring }}">{{page}}</a></li>
                        {% else %}
                        <li class="pa"><a href="?{{ page.querystring }}">{{page}}</a></li>
                        {% endifequal %}
                        {% else %}
                        <li class="pa nowd_pa">...</li>
                        {% endif %}
                        {% endfor %}
                        {% if article_list.has_next %}
                        <li class="pa"><a href="?{{ article_list.next_page_number.querystring }}">下一页</a></li>
                        {% endif %}
                        <!--<li class="pa">尾页</li>-->
                    </ul>
                </div>

            </div>
            <!--右边小栏目-->
            <div class="blog-main-right">
                <div class="blogerinfo shadow">
                    <div class="blogerinfo-figure">
                        <img src="/static/images/Absolutely.jpg" alt="Absolutely"/>
                    </div>
                    <p class="blogerinfo-nickname">何佳豪</p>
                    <p class="blogerinfo-introduce">努力学习，慢慢折腾</p>
                    <p class="blogerinfo-location"><i class="fa fa-location-arrow"></i>&nbsp;湖北 - 武汉</p>
                    <hr/>
                    <div class="blogerinfo-contact">
                        <a target="_blank" title="QQ交流" href="javascript:layer.msg('暂未开通')"><i
                                class="fa fa-qq fa-2x"></i></a>
                        <a target="_blank" title="给我写信" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=jiahaohe_123@163.com"><i
                                class="fa fa-envelope fa-2x"></i></a>
                        <a target="_blank" title="新浪微博" href="http://weibo.com/u/2946937581"><i
                                class="fa fa-weibo fa-2x"></i></a>
                        <a target="_blank" title="码云" href="https://github.com/haoxuezhang"><i
                                class="fa fa-git fa-2x"></i></a>
                    </div>
                </div>
                <div></div><!--占位-->
                <div class="blog-module shadow">
                    <div class="blog-module-title">热文排行</div>
                    <ul class="fa-ul blog-module-ul">
                        {% for hot in hot_list %}
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="{% url 'detail' hot.id %}">{{hot.title}}</a></li>
                        {% endfor %}
                        <!--<li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC 防范跨站请求伪造（CSRF）</a>-->
                        <!--</li>-->
                        <!--<li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">常用正则表达式</a></li>-->
                        <!--<li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">EF CodeFirst数据迁移常用指令</a></li>-->
                        <!--<li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">浅谈.NET Framework基元类型</a></li>-->
                        <!--<li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">C#基础知识回顾-扩展方法</a></li>-->
                        <!--<li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（一）（HTML篇）</a></li>-->
                        <!--<li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（二）（CSS篇）</a></li>-->
                    </ul>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">最近分享</div>
                    <ul class="fa-ul blog-module-ul">
                        {% for share in share_list %}
                        <li><i class="fa-li fa fa-hand-o-right"></i><a href="{{share.download}}"
                                                                       target="_blank">{{share.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">一路走来</div>
                    <dl class="footprint">
                        <dt>2017年06月018日</dt>
                        <dd>注册登录功能</dd>
                        <dt>2017年06月5日</dt>
                        <dd>文章基本显示</dd>
                        <dt>2017年06月02日</dt>
                        <dd>建立数据库</dd>
                        <dt>2017年06月1日</dt>
                        <dd>找到模板，开始开发</dd>
                    </dl>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">其他</div>
                    <dl class="footprint">
                        <dt>2017年06月18日</dt>
                        <dd>很多功能还需要添加</dd>
                        <!--<dt>2017年03月12日</dt>-->
                        <!--<dd>新增管家提醒功能</dd>-->
                        <!--<dt>2017年03月10日</dt>-->
                        <!--<dd>新增Win10快捷菜单</dd>-->
                    </dl>
                </div>
                <div class="blog-module shadow">
                    <div class="blog-module-title">友情链接</div>
                    <ul class="blogroll">
                        <li><a target="_blank" href="http://zmrenwu.com/" title="Layui">zmrw</a></li>
                        <!--<li><a target="_blank" href="http://www.pagemark.cn/" title="页签">页签</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
{% endblock %}
<!-- 底部 -->
