{% extends 'base.html' %}
{% block title %}好学长-资源分享{% endblock %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/resource.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="/" title="网站首页">网站首页</a>
                <a><cite>资源分享</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main">
                    <div class="child-nav shadow">
                        <span class="child-nav-btn child-nav-btn-this">全部</span>
                        <!--<span class="child-nav-btn">源码</span>-->
                        <!--<span class="child-nav-btn">工具</span>-->
                        <!--<span class="child-nav-btn">电子书</span>-->
                    </div>
                    <div class="resource-main">
                        {% for resource in resource_list %}
                        <div class="resource shadow">
                            <div class="resource-cover">
                                <a href="/article/{{resource.article_id}}" target="_blank">
                                    <img src="{{MEDIA_URL}}{{resource.img}}" alt="时光轴" />
                                </a>
                            </div>
                            <h1 class="resource-title"><a href="" target="_blank">{{resource.name}}</a></h1>
                            <p class="resource-abstract">{{resource.intro}}</p>
                            <div class="resource-info">
                                <span class="category"><a href=""><i class="fa fa-tags fa-fw"></i>&nbsp;{{resource.category}}</a></span>
                                <span class="author"><i class="fa fa-user fa-fw"></i>{{resource.author}}</span>
                                <div class="clear"></div>
                            </div>
                            <div class="resource-footer">
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>-->
                                <a class="layui-btn layui-btn-small layui-btn-primary" href="{{resource.download}}" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>
                            </div>
                        </div>
                        {% endfor %}
                        <!--<div class="resource shadow">-->
                            <!--<div class="resource-cover">-->
                                <!--<a href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">-->
                                    <!--<img src="/static/images/cover/201703051349045432.jpg" alt="时光轴" />-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<h1 class="resource-title"><a href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">时光轴</a></h1>-->
                            <!--<p class="resource-abstract">本博客使用的时光轴的源码，手工打造！</p>-->
                            <!--<div class="resource-info">-->
                                <!--<span class="category"><a href="javascript:layer.msg(&#39;这里跳转到相应分类&#39;)"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>-->
                                <!--<span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>-->
                                <!--<div class="clear"></div>-->
                            <!--</div>-->
                            <!--<div class="resource-footer">-->
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>-->
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="resource shadow">-->
                            <!--<div class="resource-cover">-->
                                <!--<a href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">-->
                                    <!--<img src="/static/images/cover/201703051349045432.jpg" alt="时光轴" />-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<h1 class="resource-title"><a href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">时光轴</a></h1>-->
                            <!--<p class="resource-abstract">本博客使用的时光轴的源码，手工打造！</p>-->
                            <!--<div class="resource-info">-->
                                <!--<span class="category"><a href="javascript:layer.msg(&#39;这里跳转到相应分类&#39;)"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>-->
                                <!--<span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>-->
                                <!--<div class="clear"></div>-->
                            <!--</div>-->
                            <!--<div class="resource-footer">-->
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>-->
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="resource shadow">-->
                            <!--<div class="resource-cover">-->
                                <!--<a href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">-->
                                    <!--<img src="/static/images/cover/201703051349045432.jpg" alt="时光轴" />-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<h1 class="resource-title"><a href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">时光轴</a></h1>-->
                            <!--<p class="resource-abstract">本博客使用的时光轴的源码，手工打造！</p>-->
                            <!--<div class="resource-info">-->
                                <!--<span class="category"><a href="javascript:layer.msg(&#39;这里跳转到相应分类&#39;)"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>-->
                                <!--<span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>-->
                                <!--<div class="clear"></div>-->
                            <!--</div>-->
                            <!--<div class="resource-footer">-->
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>-->
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="resource shadow">-->
                            <!--<div class="resource-cover">-->
                                <!--<a href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">-->
                                    <!--<img src="/static/images/cover/201703051349045432.jpg" alt="时光轴" />-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<h1 class="resource-title"><a href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank">时光轴</a></h1>-->
                            <!--<p class="resource-abstract">本博客使用的时光轴的源码，手工打造！</p>-->
                            <!--<div class="resource-info">-->
                                <!--<span class="category"><a href="javascript:layer.msg(&#39;这里跳转到相应分类&#39;)"><i class="fa fa-tags fa-fw"></i>&nbsp;源码</a></span>-->
                                <!--<span class="author"><i class="fa fa-user fa-fw"></i>Absolutely</span>-->
                                <!--<div class="clear"></div>-->
                            <!--</div>-->
                            <!--<div class="resource-footer">-->
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填演示地址&#39;)" target="_blank"><i class="fa fa-eye fa-fw"></i>演示</a>-->
                                <!--<a class="layui-btn layui-btn-small layui-btn-primary" href="javascript:layer.msg(&#39;这里填下载地址&#39;)" target="_blank"><i class="fa fa-download fa-fw"></i>下载</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!-- 清除浮动 -->
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}